<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASSET_EDITOR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AssetCompiler-GL4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GAME-ENGINE-Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GAME-ENGINE.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LIB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LIBIOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>gamePOC.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>321911DE1E5331B200CF29A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>325A73741E522ACE0046520B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32840ADC19E472A10005FEB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32899BF2180D3DC8002AA472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32899C13180D3DC8002AA472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F92D9651F163F5700292A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F92DA9E1F16413800292A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FD957E81FAE35CF00FB9376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
