.DS_Store
.DS_Store/
*.DS_Store/
profile-*.json
profile-*.rawproto
CODE/HEADERS/
armv7armv7sarm64/
*.sdf
*.suo
*.vs/
**/*.apk
**/*.exe
.vs/
bin/
obj/
**/bin/
**/obj/
**/*.obj
**/*.log
BUILDIR/
LIBS/
HEADERS/
PROJECTS/VISUAL2015/GameEngineWindows/Debug/
PROJECTS/VISUAL2015/GameEngineWindows/GameEngineWindows/Debug/
PROJECTS/XSGameEngine.VC.opendb
PROJECTS/ANDROID-NDK-BASE/HEADERS/
*.filters
*.xcuserstate
i386/
PROJECTS/XSGameEngine.VC.db
PROJECTS/XSGameEngine.VC.VC.opendb
*.idb
*.tlog
RESOURCES/testCastSimpleCubeShadowToPlan-depth3.png
RESOURCES/testCastSimpleCubeShadowToPlan-depth2.png
RESOURCES/testCastSimpleCubeShadowToPlan-depth1.png
*.lib
*.pdb
*.user
