CODE/HEADERS/
armv7armv7sarm64/
*.sdf
*.suo
bin/
obj/
BUILDIR/
LIBS/
HEADERS/
PROJECTS/VISUAL2015/GameEngineWindows/Debug/
PROJECTS/VISUAL2015/GameEngineWindows/GameEngineWindows/Debug/
PROJECTS/XSGameEngine.VC.opendb
PROJECTS/ANDROID-NDK-BASE/HEADERS/
*.filters
*.xcuserstate
i386/
PROJECTS/XSGameEngine.VC.db
PROJECTS/XSGameEngine.VC.VC.opendb
